{
  "presets": [
    "@react-ssr/nestjs-express/babel"
  ],
  "plugins": [
    [
      "babel-plugin-transform-imports",
      {
        "@material-ui/core": {
          "transform": "@material-ui/core/esm/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
